.Preloader-component {
  position: relative;
  margin: 0 auto;

  border-top: 5px solid #7791fb;
  border-bottom: 5px solid #7791fb;
  border-radius: 50%;

  animation: rotation 1s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}
